/*
             
     ____  _             _ _        __  __
    / ___|| |_ _   _  __| (_) ___   \ \/ /
    \___ \| __| | | |/ _` | |/ _ \   \  / 
     ___) | |_| |_| | (_| | | (_) |  /  \ 
    |____/ \__|\__,_|\__,_|_|\___/  /_/\_\                       

    
    Studio X, LLC Internal Framework
	Written by Jesse
	Developed with a keyboard and pixie dust.

    -+-+-+- SPECIFICS -+-+-+-
	stylesheets/animations.css
	===========

    A stylesheet containing all of the CSS animations for the Cupid's Vault minigame.
    
    ===========

    Created: 2026-02-05
    Last Updated: 2026-02-05


*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes logo-float {
    0% {
        transform: translateY(0px) scale(1);
    }

    50% {
        transform: translateY(-3.5px) scale(1.01);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes spin-grow-shrink {
    0% {
        transform: translate(-50%, -50%) scale(1.15);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.15);
    }
}

@keyframes carrot-tilt {
    0% {
        transform: translate(-50%, -50%) rotate(-1deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(1deg);
    }
}

@keyframes loader-rotate {
    to {
        transform: rotate(360deg);
    }
}