/*
             
     ____  _             _ _        __  __
    / ___|| |_ _   _  __| (_) ___   \ \/ /
    \___ \| __| | | |/ _` | |/ _ \   \  / 
     ___) | |_| |_| | (_| | | (_) |  /  \ 
    |____/ \__|\__,_|\__,_|_|\___/  /_/\_\                       


    Studio X, LLC Internal Framework
	Written by Jesse
	Developed with a keyboard and pixie dust.

    -+-+-+- SPECIFICS -+-+-+-
	stylesheets/main.css
	===========

    A stylesheet containing all of the styling for the Cupid's Vault minigame.
    
    ===========

    Created: 2026-02-05
    Last Updated: 2026-02-05


*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    font-family: 'Segoe UI', system-ui, sans-serif;
    color: #333;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 0;
    padding: 0 0;

    overflow-x: hidden;
}

.background {
    position: fixed;
    inset: -10%;
    z-index: -1;

    background:
        radial-gradient(circle at center,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.25)),
        url('/cupids-vault/media/background/background.jpg');

    background-size: cover;
    background-position: 30% center;
    background-repeat: no-repeat;
    filter: contrast(110%) brightness(105%) saturate(115%);

    will-change: transform; /* GPU Acceleration */
}

.logo {
    width: 65%;

    filter: saturate(110%) brightness(125%);
    animation: logo-float infinite 1.5s ease-in-out;

    pointer-events: none;
    z-index: 10000;
}

/* -----------------------------
          CONTENT BOX
----------------------------- */

._content {
    width: 80%;
    max-width: 520px;

    padding: 24px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    border: 3px dashed #E75D98;
    border-radius: 18px;

    text-align: center;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) brightness(150%);
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #c21c3b;

    margin: 0 0 10px;
}

p._directions {
    font-size: 14px;
    color: #555;

    margin: 0 0 16px;
}

/* -----------------------------
      CONTENT BOX -> NAME
----------------------------- */

._contentNameContainerRow {
    display: flex;
    gap: 8px;

    margin-bottom: 12px;
}

input[type="text"] {
    min-width: 0;
    flex: 1 1 0;

    text-indent: 12px;
    border: 1px solid #F86BA5;
    font-size: 16px;

    border-radius: 12px;
}

input#input_firstName,
input#input_lastInitial {
    text-transform: capitalize;
}

button#_playButton {
    border-radius: 12px;
    border: none;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #fff;

    background: #E75D98;
    cursor: pointer;

    transition: transform 0.1s, box-shadow 0.2s;

    padding: 12px 18px;
    z-index: 99999;
}

button#_playButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* -----------------------------
      CONTENT BOX -> GAME
----------------------------- */

._contentGameContainer {
    display: none;

    border-radius: 20px;
    border: 2px solid #E75D98;

    background: transparent;
    
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12), inset 0 2px 4px rgba(255, 255, 255, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
    
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 10px;
}

._contentGameContainer:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15), inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

._contentGameContainerWrapper {
    position: relative;

    border: 2px dashed #E75D98;
    border-radius: 16px;

    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.05);
    
    aspect-ratio: 1;
    touch-action: none;
}

._contentGameWheel {
    width: 85%;

    position: absolute;
    left: 50%;
    top: 50%;
    
    filter: saturate(110%) brightness(125%);
    transform: translate(-50%, -50%) rotate(0deg);
    transition: filter 0.15s ease-in-out;

    aspect-ratio: 1;
    object-fit: contain;
}

._contentGameWheelSpinButton {
    width: 85%;

    position: absolute;
    left: 50%;
    top: 50%;
    
    filter: saturate(110%) brightness(125%);
    transform: translate(-50%, -50%) scale(1.05);

    transition: filter 0.15s ease-in-out;
    animation: infinite 1s spin-grow-shrink;

    cursor: pointer;

    aspect-ratio: 1;
    object-fit: contain;

    z-index: 3;
}

._contentGameWheelSpinButton.stopped {
    animation: none !important;
}

._contentGameWheelCarrot {
    width: 65%;

    position: absolute;
    left: 50%;
    top: 35%;
    
    filter: saturate(110%) brightness(150%);
    transform: translate(-50%, -50%);

    transition: filter 0.15s ease-in-out;
    animation: alternate-reverse infinite 1.5s carrot-tilt;

    aspect-ratio: 1;
    object-fit: contain;

    z-index: 2;
}

/* -----------------------------
     CONTENT BOX -> RESULT
----------------------------- */

._contentResult {
    min-height: 40px;

    font-size: 16px;
    font-weight: 600;
    color: #E75D98;

    border-radius: 12px;

    background: #ffddeb;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;

    text-overflow: clip;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;

    margin-top: 14px;
    margin-bottom: 10px;
    padding: 8px 12px;
}

.loader {
    width: 16px;
    height: 16px;

    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    border-top-color: #E75D98;

    display: inline-block;
    animation: loader-rotate 1s linear infinite;
}

/* -----------------------------
     CONTENT BOX -> SUBTEXT
----------------------------- */

._textSmall {
    font-size: 9px;
    color: #999;
    text-shadow: white 1px 0 10px;

    &>b {
        font-size: 12px;
        color: #666;
        text-shadow: white 1px 0 10px;    
    }
}

/* -----------------------------
            FOOTER
----------------------------- */

._footerNotice {
    font-size: 0.75rem;
    text-align: center;

    opacity: 0.7;
    margin-top: 50px;
}

a {
    text-decoration: underline;
    color: #000;
}